/* Text */
p {
    font-size: 1.2em;
}
p.subtitle-1 {
    font-size: 2em;
}
p.subtitle-2 {
    font-size: 1.5em;
}



/* Containers */
.container-fluid {
    padding: 0 15%;
}





/* Utility */
.space-md {
    height: 100px;
}
.gone {
    display: none !important;
}

.mirror {
    transform: scaleX(-1);
}
.img-responsive {
    margin: 0 auto;
}
div[class^="col"], .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.thumbnail {
    display: flex;
    align-items: center;
    height: 200px;
    width: 400px;
    z-index: 9000;
}   
.thumbnail-img {
    max-height: 180px;
    max-width: 380px;
}





/* Social Media */
.fb-like {
    padding: 30px;
    position: fixed !important;
    z-index: 9000;
}





/* Sidebar */
.glyph-arrow {
    position: relative;
    right: 28px;
    top: 10px;
    z-index: 1;
    margin-top: 20px;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    transform: scaleX(-1);
}

a.glyph-arrow:hover,
a.glyph-arrow:focus {
    color: #000;
}

.active {
    background-color: rgb(38, 38, 38);
}